{{> header}}

{{>sidebar}}


<div class="content-wrapper">

<section class="content-header">
<div class="container-fluid">
<div class="row mb-2">
<div class="col-sm-6">
<h1>DataTables</h1>
</div>
<div class="col-sm-6">
<ol class="breadcrumb float-sm-right">
<li class="breadcrumb-item"><a href="#">Home</a></li>
<li class="breadcrumb-item active">DataTables</li>
</ol>
</div>
</div>
</div>
</section>

<section class="content">
<div class="container-fluid">
<div class="row">
<div class="col-12">

<div class="card">
<div class="card-header">
<h3 class="card-title">DataTable with default features</h3>
</div>

<div class="card-body">
<table id="example1" class="table table-bordered table-striped">
<thead>
<tr>
<th>Fullname</th>
<th>Mobile</th>
<th>Email</th>
<th>Status</th>
<th>Details</th>
</tr>
</thead>
<tbody>
    {{#each existedUserDetails}}
        <tr>
            <td>{{this.fullname}}</td>
            <td>{{this.mobile}}</td>
            <td>{{this.email}}</td>
             <td>
                {{#ifEquals status 1}}
                    <a href="/inactiveuser/{{this._id}}" class="btn btn-primary">Active</a>
                {{else ifEquals status 0}}
                    <a href="/activeuser/{{this._id}}" class="btn btn-primary">Inactive</a>
                {{/ifEquals}}
            </td>
            <td>
            <div class="dropdown">
                <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                View
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="/geteventbyuserid/{{this._id}}">Event List</a>
                    <a class="dropdown-item" href="/getwekendbyuserid//{{this._id}}">Weekend List</a>
                    <a class="dropdown-item" href="/gettourbyuserid//{{this._id}}">Tour List</a>
                </div>
            </div>
            </td>
        </tr>
    {{/each}}
</tbody>
</table>
</div>

</div>

</div>

</div>

</div>

</section>

</div>

{{> footer}}

<script>
    function toggleDropdowns() {
    const dropdowns = document.getElementById("dropdowns");
    if (dropdowns.style.display === "none") {
        dropdowns.style.display = "block";
    } else {
        dropdowns.style.display = "none";
    }
}
</script>